<div id="meusEventos">
  <br>
  <ion-title>Meus Eventos</ion-title>
  <ion-grid>
    <ion-row *ngFor="let myEvento of meusEventos">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{myEvento.Nome}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{myEvento.Decricao}}</p>
            <br>
            <p>
              <ion-button [routerLink]="'/usuario/detalhes-eventos/'+[myEvento.idEvento]" expand="block" fill="clear" shape="round">
                Ver mais detalhes
              </ion-button>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>