<ion-header>
  <ion-toolbar>
    <ion-title>Alterar evento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <form #formAlterarEventos="ngForm" (ngSubmit)="onSubmit(formAlterarEventos)">
    <ion-grid>
      <ion-row color="primary">
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input type="text" [(ngModel)]="evento.Nome" name="Nome" placeholder="Nome" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Descricao</ion-label>
              <ion-textarea [(ngModel)]="evento.Decricao" name="Decricao" placeholder="Descricao" required>
              </ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="">Data</ion-label>
              <ion-input type="date" [(ngModel)]="evento.DataInicio" name="DataInicio" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="">Hora inicio:</ion-label>
              <ion-input type="time" [(ngModel)]="evento.HoraInicio" name="HoraInicio" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="">Hora final</ion-label>
              <ion-input type="time" [(ngModel)]="evento.HoraFinal" name="HoraFinal" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Adicionar vagas, atuais: {{vagas}}</ion-label>
              <ion-input type="number" [(ngModel)]="evento.Vagas" name="Vagas" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Endereço</ion-label>
              <ion-select id="idEndereco" name="Endereco_idEndereco"
                [(ngModel)]="evento.Endereco_idEndereco" [value]='evento.Endereco_idEndereco'>
                <ion-select-option *ngFor="let endereco of enderecos" [value]='endereco.idEndereco'>
                  {{endereco.Estado}} - {{endereco.Cidade}} - {{endereco.Bairro}} - {{endereco.Rua}} -
                  {{endereco.Numero}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-center">
                <ion-button fill="clear" shape="round" (click)="enderecoModal()">
                  Adicionar endereço
                </ion-button>
              </ion-label>
            </ion-item>
          </div>
          <br>
          <div>
            <ion-button size="large" type="submit" expand="block">Confirmar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>