<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos Disponiveis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let evento of eventos">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{evento.Nome}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{evento.Decricao}}
          </ion-card-content>
          <ion-button [routerLink]="'/usuario/detalhes-eventos/'+[evento.idEvento]" expand="block"
            fill="clear" shape="round">
            Ver mais detalhes
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Caregando mais eventos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>