<ion-header translucent>
  <ion-toolbar>
    <ion-title>Alterar endereço</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row color="primary">
        <ion-col>
          <div>
            <ion-item>
              <ion-label position="floating">Estado</ion-label>
              <ion-input type="text" [(ngModel)]="endereco.Estado" name="Estado" required>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Cidade</ion-label>
              <ion-input type="text" [(ngModel)]="endereco.Cidade" name="Cidade"  required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Bairro</ion-label>
              <ion-input type="text" [(ngModel)]="endereco.Bairro" name="Bairro"  required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Rua</ion-label>
              <ion-input type="text" [(ngModel)]="endereco.Rua" name="Rua"  required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero</ion-label>
              <ion-input type="text" [(ngModel)]="endereco.Numero" name="Numero"  required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Complemento</ion-label>
              <ion-textarea [(ngModel)]="endereco.Complemento" name="Complemento"  required>
              </ion-textarea>
            </ion-item>
            <br>
            <ion-button type="submit" expand="block">Confirmar</ion-button>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>